body {
  background:#020;
  color:#0d0;
  font-family:courier;
  text-align: center;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
}

.main {
  width: 980px;
  margin:0 auto;
  text-align: center;
}

canvas {
  width:975px;
  height:225px;
  margin:0 auto;
  border:4px solid #050;
}

.title {
  text-align: center;
  font-size: 1em;
  color: #080;
}

.instructions {
  text-align: center;
  color: #080;
  padding:1em;;
}

.debug {
  margin-top: 10px;
  text-align: left;
  color: #080;
}
